h1 {
  text-align: center;
  justify-content: space-evenly;
  background-color: transparent;
  margin-left: 90px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 90px;
  width: max-content;
}
.bg-green {
  background-color: rgb(173, 196, 175);
}
p {
  text-align: left;
  justify-content: space-evenly;
  background-color: transparent;
  color: black;
  padding-right: 80px;
  font-family: "Zilla Slab Highlight";
  font-size: 60px;
  margin-left: 90px;
}
.col-sm-6 {
  text-align: center;
  justify-content: space-evenly;
  color: rgb(173, 196, 175);
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px;
}
