body {
  background: transparent;
  text-align: center;
}
h1 {
  color: white;
}
.container-fluid {
  background-color: transparent;
  text-align: center;
}
.nav-item {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 80px;
  margin-top: 40px;
  margin-right: 10px;
}

html {
  background: url(images/ninka.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background: transparent;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  background-color: transparent;
  font-family: "Nanum Gothic", sans-serif;
}
h2 {
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}
h4 {
  font-family: "Nanum Gothic", sans-serif;
}
p {
  text-align: center;
  justify-content: space-evenly;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 90px;
  font-stretch: expanded;
  font-family: "Zilla Slab Highlight";
}

.btn-dark {
  text-align: center;
  text-decoration: none;
  font-size: 70px;
  font-family: "Nanum Gothic", sans-serif;
  padding: 30px;
  color: rgb(173, 196, 175);
  background-color: white;
  border-block-color: transparent;
  border-inline-color: transparent;
  font-weight: 100;
  border-radius: 15px;
}

btn-dark:hover {
  transition: all 500ms ease-in-out;
}

.footer {
  text-align: center;
  justify-content: space-evenly;
  background-color: transparent;
  color: white;
  font-weight: 200;
}

@media (min-width: 900px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  body {
    font-size: 3rem;
  }
  .nav-item {
    padding-left: 50px;
  }

  h1,
  h2 {
    font-size: 158px;
  }
  h4 {
    font-size: 90px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 4rem;
    height: 1000px;
  }
  .nav-item {
    padding-left: 100px;
  }
}
@media (min-width: 1400px) {
}
